
 /* backgrounds */
 .bg-white { background-color: white; }
 .bg-orange { background-color: #EA9937; }
 .bg-lt-orange{ background-color: #ffc107;}
 .bg-peach { background-color: #FFAF6C }
 .bg-lt-peach { background-color: #FFC17C }
 .bg-lt-yellow { background-color: #FCEB8D }
 .bg-lt-green { background-color: #94E1A3 }
 .bg-green { background-color: #6C9B8A }
 
 /* fonts */
 .text-orange { color: #EA9937 }
 .text-lt-orange{ color: #ffc107 }
 .text-lt-orange a{ color: #ffc107 }
 .text-lt-orange a:hover{ color: #94E1A3 }
 .text-peach { color: #FFAF6C }
 .text-lt-peach { color: #FFC17C }
 .text-lt-yellow { color: #FCEB8D }
 .text-lt-green { color: #94E1A3 }
 .text-green { color: #6C9B8A }
 
 .logo-font{ font-family: 'Amaranth', sans-serif; }
 .nav-font { font-size: xx-large; }
 .navbar-toggler { border-color: #EA9937; border-width: 3px; }
 .navbar-light { background-color:#EA9937 }
 .navbar-toggler.navbar-light.collapsed { color: transparent }
 
 
 .img-logo { width: 475px; height: 55px; }
 .img-main { width: 100vw; height: 100vh; z-index: 15; border-bottom-right-radius: 100% 37%; border-bottom-left-radius: 100% 37%;}
 .img-logo-main { width: 37%; z-index: 25; }
 nav{ z-index: 50; }
 .navbar-toggler:focus {
     text-decoration: none;
     outline: 0;
     box-shadow: none;
 }
 main { height: 80vh; width: 100% }
 .border-edge { border-top-right-radius: 100% 37%; border-top-left-radius: 100% 37%; }
 .section1 { height: 45vh; width: 100% }
 .section2 { height: 90vh; width: 100% }
 .footer { height: 13vh; width: 100%; }
 .footer-font { font-size: x-large; }

.food-btn { background-color: white; border: 0px; }


